* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Jost", sans-serif;
}
.two-grid
{
    display: grid;
    grid-template-columns: 50vw 50vw;
    margin: 3px;
}
.head-icon{
  fill: rgb(19, 212, 120);
}
.centered-middle
{
  /* set the vertical alignment to middle and the horizontal alignment to the middle */
  margin: 0;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-25%, -40%);
}
.map-information
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 10px;
}
.top-left-corner-item
{
  position: absolute;
  top: 0;
  left: -13vh;
  width: 60%;
  height: 60%;
  z-index: -1;
}
.title
{
  font-size: 4em;
  font-weight: 400;
  text-align: center;
  letter-spacing: -2px;
}
.username
{
  position: absolute;
  left: 10px;
  text-align: right;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  letter-spacing: -2px;
  margin-top: 10px;
}
.bottom-alert
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
}
.image-fullheight
{
  height: 100vh;
  width: auto;
}
.subtitle
{
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  letter-spacing:-1px;
}
.top-right
{
  position: absolute;
  top: 0;
  right: 2vw;
  text-align: center;
}
.homepage-button
{
  background-color: #13D478;
  border: none;
  border-radius: 12px;
  height: 20%;
  width: 100%;
  margin-top: 20px;
}
.homepage-button:hover
{
  background-color: #49eb6c;
}
.right-side
{
  position: absolute;
  right: 0;
  top: 0;
}

@media only screen and (max-width: 1024px) {
  .right-side {
    display: none;
  }
}

.btn-primary {
  background: rgb(19, 212, 120);
}

.form-group input {
  border: rgb(19, 212, 120) solid 3px;
}

#mapContainer
{
  position: fixed; no-repeat;
  left: 10%;
  top: 42%;
  margin-left:60%;
  min-width: 50vw;
  min-height: 70vh;
  width: 50vw;
  height: 70vh;
  transform: translate(-50%, -50%);
  border: #49eb6c solid 3px;
  border-radius: 12px;
}
#panel
{
  position: absolute;
  right: 30%;
  bottom: 3%;
  transform: translate(50%, 50%);
  margin-left:30%;
  min-width: 45vw;
  min-height: 70vh;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  pointer-events: none;
}
#panel h3
{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  letter-spacing:-1px;
}