<html>  
<head>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css"href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
</head>
  
<body style='margin: 0'>
<div style="width: 100%; height: 100%" id="mapContainer"></div>

<script>	
      // Initialize the platform object:
      var platform = new H.service.Platform({
        'apikey': 'JdR1F4vpXx_HoCgrfwrmkPQxdz9nBBVjZ9W8ypWuViA'
      });
	  
      const lat1 = {{ lat1 }};
      const long1 = {{ long1 }};
      const lat2 = {{ lat2 }};
      const long2 = {{ long2 }};
     
	// Obtain the default map types from the platform object
      var maptypes = platform.createDefaultLayers();

      // Initialize a map:
      var map = new H.Map(
        document.getElementById('mapContainer'),
        maptypes.raster.terrain.map,
        {
          zoom: 10,
          center: { lat: (lat1 + lat2)/2, lng: (long1 + long2)/2 }  
        });
		
	// Enable the event system on the map instance:
	  var mapEvents = new H.mapevents.MapEvents(map);
	
	// Add event listener:
	  map.addEventListener('tap', function(evt) {
    // Log 'tap' and 'mouse' events:
      console.log(evt.type, evt.currentPointer.type); 
});

	// Instantiate the default behavior, providing the mapEvents object:
	 var behavior = new H.mapevents.Behavior(mapEvents);



     
	//window.addEventListener('resize',()=> get.ViewProt().resize())
    //change the color of the marker to be red
	var marker1 = new H.map.Marker({ lat: lat1, lng: long1});
	var marker2 = new H.map.Marker({ lat: lat2, lng: long2});
		
	// Add the marker to the map:
	map.addObject(marker1);
    // Add the marker to the map:
	map.addObject(marker2);
	
	// Create the default UI:
	var ui = H.ui.UI.createDefault(map, maptypes);
	

// Add info bubble to the UI:
ui.addBubble(bubble);

</script>
</body>
</html>