{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class = "custom-alert alert alert-{{ category }}">
        {{ message }}   
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
<svg class = "top-left-corner-item" width="700" height="566" viewBox="0 0 700 566" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M328.466 -215L377.076 -183.815L-103.39 565.106L-152 533.921L328.466 -215Z" fill="#13D478"/>
    <path d="M117.961 -383L307.339 -261.505L-117.622 400.897L-307 279.403L117.961 -383Z" fill="#8AE39D"/>
    </svg>
<!-- get the input from the user form and send it to the map url -->
<div class="two-grid">
<div class="centered-middle">
    <h1>Trip Planner</h1>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class = "form-group">
                <div class = "form-group">
                    {{ form.start.label(class="form-control-label") }}
                    {% if form.start.errors %}
                        {{ form.start(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.start.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.start(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class = "form-group">
                    {{ form.end.label(class="form-control-label") }}
                    {% if form.end.errors %}
                        {{ form.end(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.end.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.end(class="form-control form-control-lg") }}
                    {% endif %}                    
                </div>
                <div class = "form-group">
                    {{ form.startTimeFrom.label(class="form-control-label") }}
                    {% if form.startTimeFrom.errors %}
                        {{ form.startTimeFrom(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.startTimeFrom.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.startTimeFrom(class="form-control form-control-lg") }}
                    {% endif %}                    
                </div>
                <div class = "form-group">
                    {{ form.startTimeTo.label(class="form-control-label") }}
                    {% if form.startTimeTo.errors %}
                        {{ form.startTimeTo(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.startTimeTo.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.startTimeTo(class="form-control form-control-lg") }}
                    {% endif %}                    
                </div>
                <div class = "form-group">
                    {{ form.arrivalTimeFrom.label(class="form-control-label") }}
                    {% if form.arrivalTimeFrom.errors %}
                        {{ form.arrivalTimeFrom(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.arrivalTimeFrom.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.arrivalTimeFrom(class="form-control form-control-lg") }}
                    {% endif %}                    
                </div>
                <div class = "form-group">
                    {{ form.arrivalTimeTo.label(class="form-control-label") }}
                    {% if form.arrivalTimeTo.errors %}
                        {{ form.arrivalTimeTo(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.arrivalTimeTo.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.arrivalTimeTo(class="form-control form-control-lg") }}
                    {% endif %}                    
                </div>
                <div class = "form-group">
                    {{ form.date.label(class="form-control-label") }}
                    {% if form.date.errors %}
                        {{ form.date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.date(class="form-control form-control-lg") }}
                    {% endif %}                    
                </div>   
            </fieldset>
        <div class = "form-group">
            {{ form.submit(class="btn btn-primary mt-2") }}
        </form>
</div>
</div>
<div class = "right-panel">
</div>
<a href = "{{ url_for('logout') }}" style= "height:7vh;width:10%;display:flex;align-items:center;justify-content:center;" class = "top-right btn btn-primary homepage-button btn-lg">Logout</a>
{% endblock content %}